.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
    height: 60vh;
    margin-top: 60px;
    align-items: center;
}

.images-container {
    position: relative;
    top: 40px;
}

.frame {
    position: absolute;
    top: -230px;
    left: -132px;
}
.shopify {
    position: absolute;
    top: -127px;
    right: -61px;
}
.heading {
    color: #ffffff;
}