.container {
    background-color: #ffffff;
    position: absolute;
    top: 9vh;
    left: 15vw;
    height: 90vh;
    overflow: auto;
    width: 84vw;
    box-shadow: #ffffff;
    border-radius: 5px;
    margin-left: 5px;
    background-color: var(--bg-color);
    color: var(--text-color)
}


.table-container {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    text-align: left;
}

.table-container th, .table-container td {
    padding: 6px 6px;

}

.table-container th {
    background-color: #f3f3f3;
}

.table-container tr {
    border: 4px solid #FAFAFA;
    height: 50px;
}

.table-container tr:hover {
    background-color: #F0ECFD;
    cursor: pointer;
}

.modal {
    position: absolute;
    top:0px;
    background-color: black;
    height: 400px;
    width: 400px;
}

.modal-content {
    position: absolute;
    display: flex;
}
.popup {
    display: flex;
}

.pagination {
    position: fixed;
    bottom: 20px;
    right: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: white;
    padding: 5px 5px;
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    z-index: 1000;
}

button {
    height: 40px;
    width: 100px;
    background-color: #141569;
    border-radius: 6px;
    color: white;
    border: none;
    cursor: pointer;
}

.action-icons {
    text-align: center;
    vertical-align: middle;
    padding: 0;
}

.icon-wrapper {
display: flex;
align-items: center;
gap: 10px;
height: 100%;
}

.icon-wrapper i {
font-size: 1.2rem;
cursor: pointer;
color: #141569;
}

::ng-deep .p-dialog{
    box-shadow: none !important;
}

::ng-deep .p-dialog .p-dialog-header {
    margin-top: 10px;
}

.cancel {
    width: 25%;
    background-color: #ffffff;
    border: 1px solid #141569;
    border-radius: 5px;
    color: #141569;
    height: 30px;
    cursor: pointer;
  
}
.save {
    width: 25%;
    background-color: #141569;
    border: 1px solid #141569;
    border-radius: 5px;
    color: #ffffff;
    height: 30px;
    cursor: pointer;
}

::ng-deep .p-dialog-mask {
    background-color: #0000000c !important;
}
