<app-header></app-header>
<app-dashboard></app-dashboard>

<div class="container">
    <div style="margin: 10px">
    <p style="color: blue; font-weight: bold;">My Orders</p>
        <table class="table-container">
            <th>OrderId</th>
            <th>Product Count</th>
            <th>Order Date Time</th>
            <th>Delivery Status</th>
            <tr *ngFor="let item of items" (click)="handleDeleteandView(item)">
                <td>{{ item.id }}</td>
                <td>{{ item.orderedItems.length }}</td>
                <td>{{ item.date }}</td>
                <td [ngStyle]="{ 'color': 'green' }">{{ item.status }}</td>
              
                <td *ngIf="selectedItemId === item.id">
                  <i class="pi pi-eye" style="font-size: 1rem; cursor: pointer" (click)="showDialog(item)"></i>
                </td>
                <td *ngIf="selectedItemId === item.id">
                  <i class="pi pi-trash" style="font-size: 1rem; cursor: pointer" (click)="showDelete(item)"></i>
                </td>
            </tr>
            <p-dialog header="View Product" [(visible)]="visible">
                <div *ngIf="selectedOrder">
                  <img [src]="selectedOrder.image" height="100px" width="100px" />
                  <p>Delivered on</p>
                  <h6>{{ selectedOrder.title }}</h6>
                  <p>Order Id: {{ selectedOrder.id }}</p>
                </div>
              </p-dialog>
              
              <p-dialog header="Delete Product" [(visible)]="DeleteShow">
                <div>
                  <h1>Are you sure?</h1>
                  <p>Do you really want to delete this order?</p>
                  <div>
                    <p-button (click)="cancelButton()">Cancel</p-button>
                    <p-button (click)="deleteOrder()">Delete</p-button>
                  </div>
                </div>
              </p-dialog>
              
        </table>
    </div>

</div>