<app-header></app-header>
<app-dashboard></app-dashboard>

<p-toast></p-toast>
<div class="container">
    <div style="margin: 10px">
    <p style="color: #141569; font-weight: bold;">My Orders</p>
        <table class="table-container">
            <thead>
              <tr>
                <th>OrderId</th>
                <th>Product Count</th>
                <th>Order Date Time</th>
                <th>Delivery Status</th>
                <th>Actions</th>
              </tr>
            </thead>
          <tbody>
            <tr *ngFor="let item of paginatedOrders"
                (mouseenter)="hoveredItemId = item.id"
                (mouseleave)="hoveredItemId = null">
              <td>{{ item.id.toUpperCase() }}</td>
              <td>{{ item.orderedItems.length }}</td>
              <td>{{ item.date }}</td>
              <td [ngStyle]="{ color: item.status === 'pending' ? 'orange' : 'green' }">
                <span [ngStyle]="{ background: item.status === 'pending' ? 'cornsilk' : 'lightgreen' }" style="padding: 5px; border-radius: 5px; display: inline-block; width: 100px; text-align: center;">{{item.status}}</span>
              </td>
              <td class="action-icons">
                <div *ngIf="hoveredItemId === item.id" class="icon-wrapper">
                  <i class="pi pi-eye" (click)="showDialog(item)"></i>
                  <i class="pi pi-trash" (click)="showDelete(item)"></i>
                </div>
              </td>
            </tr>
          </tbody>
          <p-dialog header="View Product" [(visible)]="visible"
                  [resizable]="false" [draggable]="false" [modal]="true"
                  [style]="{width: '600px'}">
                  <div *ngIf="selectedOrder">
                    <div *ngFor="let product of selectedOrder.orderedItems" style="margin-top: 15px; display: flex; gap: 10px;">
                      <div>
                        <img [src]="product.image" style="border-radius: 4px; height: 240px; width: 250px;"/>
                      </div>
                      <div>
                          <p style="color: #141569;">Delivered on {{selectedOrder.deliveredDate}}</p>
                          <p><strong>{{ product.title }}</strong></p>
                          <p style="margin: 2px;"><strong>OrderId:</strong> {{selectedOrder.id.toUpperCase()}}</p>
                          <p style="margin: 2px;"><strong>Delivery Address:</strong>  {{username.username}}</p>
                          <p style="margin: 2px;"><strong>Delivery street:</strong>  {{username.address}}</p>
                          <p style="margin: 2px;"><strong>State:</strong>  {{username.state.name}}</p>
                          <p style="margin: 2px;"><strong>Country:</strong>  {{username.country.name}}</p>
                          <p style="margin: 2px;"><strong>PinCode:</strong>  {{username.Zipcode}}</p>
                      </div>
                    </div>
                  </div>
                </p-dialog>
              
                <p-dialog header="Delete Order" [(visible)]="DeleteShow"
                [resizable]="false" [draggable]="false" [modal]="true"
                [style]="{width: '350px'}">
                <div style="display: flex; justify-content: center;">
                  <img src="../../assets/Vector.png" alt="error" width="50px" height="50px" style="text-align: center;"/>
              </div>
                  <p style="text-align: center; margin-top: 10px; font-weight: bold;">Are You Sure!!?</p>
                  <p style="text-align: center; margin-top: 10px;">Do you really want to delete the selected item?</p>
                  <div style="display: flex; justify-content: center; gap: 10px; margin-top: 20px;">
                      <button type="button" class="cancel"  (click)="cancelButton()">Cancel</button>
                      <button type="button" class="save" (click)="deleteOrder()">Delete</button>
                  </div>
              </p-dialog>
      
        </table>
        <div class="pagination" *ngIf="items.length > pageSize">
          <button (click)="currentPage = currentPage - 1" [disabled]="currentPage === 1">Prev</button>
        
          <span>Page {{currentPage}} of {{totalPages}}</span>
        
          <button (click)="currentPage = currentPage + 1" [disabled]="currentPage === totalPages">Next</button>
        </div>
        <div *ngIf="items.length === 0" style="text-align: center; align-self: center; font-weight: bold;">
            Not Ordered Yet!
        </div>
    </div>

</div>