<div class="container">
   
        <div class="logo">
            <img src="../../assets/Frame.png" alt="Image" width="40px" height="40px" class="frame"/>
            <img src="../../assets/Shopify.png" alt="Image"  height="20px" class="shopify"/>
        </div>
        <div style="display: flex; align-items: center;">
            <div style="margin-left: 100px; display: flex; align-items: center;">
                <div class="horizontalline"></div>
                <i class="pi pi-home" style="font-size: 1rem" style="margin-left: 10px;"></i>
            </div>
        </div>
        <div>
            <p>Change Theme</p>
            <p-inputSwitch [(ngModel)]="checked" />
        </div>
</div>