<app-header></app-header>
<app-dashboard></app-dashboard>

<div class="container">
    <div style="margin: 10px">
    <p style="color: blue; font-weight: bold;">Welcome Admin!...</p>
        <table class="table-container">
            <th>Username</th>
            <th>Product Count</th>
            <th>Ordered Date</th>
            <th>Ordered Delivered</th>
            <tr *ngFor="let item of item">
                <td>{{item.username}}</td>
                <td>{{item.orderedItems.length}}</td>
                <td>{{item.date}}</td>
                <td [ngStyle]="{'color': 'green'}">{{item.status}}</td>
            </tr>
        </table>
    </div>
</div>