<body>
<p-toast></p-toast>

<div>
    <div class="image-container">
        <div class="images-container">
          <img src="../../assets/Frame.png" alt="Image" width="150px" height="150px" class="frame"/>
          <img src="../../assets/Shopify.png" alt="Image"  height="40px" class="shopify"/>
        </div>
        <p class="heading">Shopify: Empowering Seamless Shoppingand Efficient Management</p>
     </div>
</div>
<div class="container">
<div class="login-container">
    <h1 class="heading1">LOGIN To Shopify...</h1>
    <form class="form-container">
        <div>
            <label>Email: *</label><br>
            <input type="email" pInputText [(ngModel)]="email" name="email" required #emailRef="ngModel"/><br>
            <p *ngIf="emailRef.invalid && emailRef.touched" style="color: red; font-size: 10px;">* Email is required.</p>
        </div>
        <div>
            <label>Password: *</label><br>
            <input type="password" pInputText [(ngModel)]="password" name="password" required #passwordRef="ngModel" autocomplete="on"/><br>
            <p *ngIf="passwordRef.invalid && passwordRef.touched" style="color: red; font-size: 10px;">* Password is required.</p>
        </div>
        <p-button label="Login" class="login-btn" (click)="loginform()"></p-button>
        <div class="signup">
          <p>Don't have an account?, <span style="text-decoration: underline; cursor: pointer;" (click)="singuppage()">SIGNUP</span></p>
        </div>
    </form>
</div>
</div>

</body>