

<div class="container">
<div class="login-container">
    <h1 class="heading">LOGIN To Shopify...</h1>
    <form class="form-container">

        <div>
            <label>Email:</label><br>
            <input type="text" pInputText [(ngModel)]="email" name="email"/><br>
        </div>
        <div>
            <label>Password:</label><br>
            <input type="password" pInputText [(ngModel)]="password" name="password"/><br>
        </div>
        <p-button label="Login" (click)="loginform()"/>
        <div class="signup">
          <p>Don't have a account?, <span style="text-decoration: underline; cursor: pointer;" (click)="singuppage()">SIGNUP</span></p>
        </div>
    </form>
</div>
</div>
    
