<p-toast></p-toast>

<div class="container">
<div class="signup-container"> 
    <h1 class="heading"><span class="material-symbols-outlined" (click)="gotToLogin()">subdirectory_arrow_left</span>SIGN UP to Shopify...</h1>
    <form class="form-container" #formData="ngForm" (ngSubmit)="submitData()">
        <div *ngIf="show">
            <div class="pic-container">
                <div class="profile-pic">
                    <img [src]="imageUrl" width="100px" height="100px" class="border"/>
                    <input type="file" id="imageupload" (change)="onChangeImage($event)" accept=".png, .jpg" style="display: none;"/>
                    <label for="imageupload" style="position: absolute; right: 8px; top:20px">
                      <i class="pi pi-pencil" style="font-size: 1rem; cursor: pointer;"></i>
                    </label>
                </div>
           </div>
            <div>
                <label>User Name</label><br>
                <input type="text" pInputText [(ngModel)]="username" name="username" maxlength="20" required pattern="^[a-zA-Z0-9]*$" [disabled]="isEditMode"/><br>
            </div>
            <div class="row">
                <div>
                    <label>First Name</label><br>
                    <input type="text" pInputText [(ngModel)]="firstname" name="firstname" maxlength="30" required pattern="^[a-zA-Z0-9 ]+$"/><br>
                </div>
                <div>
                    <label>Last Name</label><br>
                    <input type="text" pInputText [(ngModel)]="lastname" name="lastname" maxlength="20"/><br>
                </div>
            </div>
            <div class="row">
                <div>
                    <div>
                        <label>Gender</label>
                    </div>
                    <div class="gender-container">
                        <input type="radio" name="gender" id="male" [(ngModel)]="gender" value="Male" />
                        <label for="male">Male</label>
                        <input type="radio" name="gender" id="female" [(ngModel)]="gender" value="Female" /> 
                        <label for="female">Female</label>
                        <input type="radio" name="gender" id="others" [(ngModel)]="gender" value="others" /> 
                        <label for="others">Others</label>
                    </div>
                </div>
                <div>
                    <label>DOB</label><br>
                    <p-calendar [(ngModel)]="dob" name="dob" dateFormat="dd/mm/yy"></p-calendar>
                </div>
           </div>
            <div>
                <label>Email ID</label><br>
                <input type="email" pInputText [(ngModel)]="email" name="email" maxlength="100" required email pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" #emailRef="ngModel"/><br>
                <p-message 
                  severity="error" 
                  text="Invalid email format" 
                  *ngIf="emailRef.invalid && emailRef.touched">
              </p-message>
            </div>
            <div>
                <label>Mobile Number</label><br>
                <input type="text" pInputText [(ngModel)]="phone" name="phone" required pattern="^[0-9]{10}$"/><br>
            </div>
            <div class="pagination">
              <span 
              [class.disabled]="currentPage === 1" 
              (click)="currentPage === 1 ? null : prevpage()"
              >&#60;</span>
          
            <span 
              [class.active]="currentPage === 1">o</span>
          
            <span 
              [class.active]="currentPage === 2">o</span>
          
            <span 
              [class.disabled]="currentPage === 2" 
              (click)="currentPage === 2 ? null : nextpage()"
              >&#62;</span>
            </div>
        </div>
        <div *ngIf="!show">
            <div>
                <label>Address</label><br>
                <textarea 
                rows="0"
                cols="60"
                pInputTextarea 
                [(ngModel)]="address"
                maxlength="100" name="address">
            </textarea>
            </div>
            <div class="row">
                <div>
                  <label>Country</label><br>
                  <p-dropdown 
                    [options]="countries"
                    [(ngModel)]="country"
                    optionLabel="name"
                    placeholder="Select a Country"
                    (onChange)="onCountryChange($event.value)"
                    name="country">
                  </p-dropdown>
                </div>
              
                <div>
                  <label>State</label><br>
                  <p-dropdown 
                    [options]="filteredStates"
                    [(ngModel)]="state"
                    optionLabel="name"
                    placeholder="Select a State"
                    name="state">
                  </p-dropdown>
                </div>
              </div>
              
              <div class="row">
                <div>
                  <label>Zip Code</label><br>
                  <input 
                    type="text" 
                    pInputText 
                    maxlength="20" 
                    [(ngModel)]="zipCode" 
                    name="zipCode"/>
                </div>
              
                <div>
                  <label>Time Zone</label><br>
                  <p-dropdown 
                    [options]="timeZones"
                    [(ngModel)]="timeZone"
                    placeholder="Select a Time Zone"
                    name="timeZone">
                  </p-dropdown>
                </div>
              </div>
              
              <div class="row">
                <div>
                  <label>Locale</label><br>
                  <p-dropdown 
                    [options]="locales"
                    [(ngModel)]="locale"
                    placeholder="Select a Locale"
                    name="locale">
                  </p-dropdown>
                </div>
                <div class="adminCheckBox">
                    <p-checkbox 
                    [(ngModel)]="admin" 
                    [binary]="true" 
                    inputId="binary" 
                    name="admin"/>
                    <label style="margin-left: 10px;">IsAdmin</label><br>
    
                </div>
              </div>
                <div>
                    <label>Password</label><br>
                    <input type="password" pInputText [(ngModel)]="password" name="password" required #passRef="ngModel"/><br>
                    <p-message severity="error" text="password is required" *ngIf="passRef.invalid && passRef.touched"></p-message>
                </div>
                <div>
                    <label>Confirm Password</label><br>
                    <input type="password" pInputText [(ngModel)]="conformpass" name="conformpass" required #confirmRef="ngModel"/><br>
                    <p-message severity="error" text="Password do not match"  *ngIf="password && conformpass && password !== conformpass"></p-message>
                </div>

               <p-button type="submit" label="Sign Up" class="signup-btn" [disabled]="formData.invalid"></p-button>

               <div class="pagination">
                  <span 
                    [class.disabled]="currentPage === 1" 
                    (click)="currentPage === 1 ? null : prevpage()"
                    >&#60;</span>
                
                  <span 
                    [class.active]="currentPage === 1">o</span>
                
                  <span 
                    [class.active]="currentPage === 2">o</span>
                
                  <span 
                    [class.disabled]="currentPage === 2" 
                    (click)="currentPage === 2 ? null : nextpage()"
                    >&#62;</span>
            
                </div>
        </div>
    </form>
</div>
</div>