.container {
    position: absolute;
    top: 0;
    width: 15vw;
    height: 100vh;
    margin: 10px;
    background-color: #C1BADD;
    margin: 0px;
    margin-top: 7vh;
}
i, span {
    margin: 15px;
}