.card {
    position: absolute;
    top: 0;
    width: 15vw;
    height: 100vh;
    margin: 10px;
    background-color: #C1BADD;
    margin: 0px;
    margin-top: 7vh;
}
i, span {
    margin: 15px;
}


::ng-deep .p-tabmenu .p-tabmenu-nav {
    display: flex;
    flex-direction: column;
    background-color: #C1BADD;
    
}

::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
    background: #C1BADD;
    width: 100vw;
    color: black;
    padding: 1.25rem;
    font-weight: 700;
    border: none;
}

::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
    display: flex;
}


::ng-deep .p-element .p-tabmenuitem .p-highlight {
    display: flex;
}
::ng-deep .p-highlight {
    border: none
}
