<!-- <div class="container">
    <div (click)="gotoHomepage()">
        <i class="pi pi-home" style="font-size: 1rem" ></i>
        <span>Home</span>
    </div>
    <div (click)="gotoProductPage()">
        <i class="pi pi-briefcase" style="font-size: 1rem" ></i>
        <span>Products</span>
    </div>
    <div (click)="gotoCartPage()">
        <i class="pi pi-shopping-cart" style="font-size: 1rem" ></i>
        <span>Cart</span>
    </div>
    <div (click)="gotoOrderPage()">
        <i class="pi pi-shopping-bag" style="font-size: 1rem" ></i>
        <span>Order</span>
    </div>
</div> -->


<app-header></app-header>
<div class="card">
    <p-tabMenu [model]="items" />
</div>

