<app-header></app-header>
<app-dashboard></app-dashboard>

<p-toast></p-toast>
<div class="container">
    <div style="margin: 10px">
        <div class="addicon">
            <p style="color: blue; font-weight: bold;" >User Data</p>
            <p-button label="Add" (click)="addUser()"></p-button>
        </div>
        <p-dialog header="Add User" [modal]="true" [(visible)]="adduser" [resizable]="false" [draggable]="false" [closeOnEscape]="false" [style]="{ width: '80rem', height: '90vh' }">
            
                <form class="form-container" #formData="ngForm" (ngSubmit)="submitData()">
                    <div class="profile-container">
                    <div class="profile-pic">
                    <div style="position: relative;">
                    <img [src]="imageUrl" alt="Image" width="100px" height="100px" class="border"/>
                    <input type="file" id="imageupload" (change)="onChangeImage($event)" accept=".png, .jpg" style="display: none;"/>
                   </div>
                   <label for="imageupload" style="position: relative; top: -20px; right: 25px;">
                     <i class="pi pi-pencil" style="font-size: 1rem; cursor: pointer;"></i>
                   </label>
                    </div>

                    <div>
                        <label>User Name</label><br>
                        <input type="text" pInputText [(ngModel)]="username" name="username" maxlength="20" required pattern="^[a-zA-Z0-9]*$" [disabled]="isEditMode"/><br>
                    </div>
                        
                    <div class="row">
                        <div>
                            <label>First Name</label><br>
                            <input type="text" pInputText [(ngModel)]="firstname" name="firstname" maxlength="30" required pattern="^[a-zA-Z0-9 ]+$"/><br>
                        </div>
                        <div>
                            <label>Last Name</label><br>
                            <input type="text" pInputText [(ngModel)]="lastname" name="lastname" maxlength="20"/><br>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <div>
                                <label>Gender</label>
                            </div>
                            <div class="gender-container">
                                <input type="radio" name="gender" id="male" [(ngModel)]="gender" value="Male" />
                                <label for="male">Male</label>
                                <input type="radio" name="gender" id="female" [(ngModel)]="gender" value="Female" /> 
                                <label for="female">Female</label>
                                <input type="radio" name="gender" id="others" [(ngModel)]="gender" value="others" /> 
                                <label for="others">Others</label>
                            </div>
                        </div>
                        <div>
                            <label>DOB</label><br>
                            <p-calendar [(ngModel)]="dob" name="dob" dateFormat="dd/MM/yy"></p-calendar>
                        </div>
                   </div>
                        <div>
                            <label>Email ID</label><br>
                            <input type="email" pInputText [(ngModel)]="email" name="email" maxlength="100" required/><br>
                        </div>
                        <div>
                            <label>Mobile Number</label><br>
                            <input type="text" pInputText [(ngModel)]="phone" name="phone" required pattern="^[0-9]{10}$"/><br>
                        </div>
                    </div>

                    <div class="address-container">

                        <div>
                            <label>Address</label><br>
                            <textarea 
                            rows="0"
                            cols="60"
                            pInputTextarea 
                            [(ngModel)]="address"
                            maxlength="100" name="address">
                        </textarea>
                        </div>
                        <div class="row">
                            <div>
                              <label>Country</label><br>
                              <p-dropdown 
                                [options]="countries"
                                [(ngModel)]="country"
                                optionLabel="name"
                                placeholder="Select a Country"
                                (onChange)="onCountryChange($event.value)"
                                name="country">
                              </p-dropdown>
                            </div>
                          
                            <div>
                              <label>State</label><br>
                              <p-dropdown 
                                [options]="filteredStates"
                                [(ngModel)]="state"
                                optionLabel="name"
                                placeholder="Select a State"
                                name="state">
                              </p-dropdown>
                            </div>
                          </div>
                          
                          <div class="row">
                            <div>
                              <label>Zip Code</label><br>
                              <input 
                                type="text" 
                                pInputText 
                                maxlength="20" 
                                [(ngModel)]="zipCode" 
                                name="zipCode"/>
                            </div>
                          
                            <div>
                              <label>Time Zone</label><br>
                              <p-dropdown 
                                [options]="timeZones"
                                [(ngModel)]="timeZone"
                                placeholder="Select a Time Zone"
                                name="timeZone">
                              </p-dropdown>
                            </div>
                            </div>
                            
                            <div class="row">
                            <div>
                              <label>Locale</label><br>
                              <p-dropdown 
                                [options]="locales"
                                [(ngModel)]="locale"
                                placeholder="Select a Locale"
                                name="locale">
                              </p-dropdown>
                            </div>
                            <div class="adminCheckBox">
                                <p-checkbox 
                                [(ngModel)]="admin" 
                                [binary]="true" 
                                inputId="binary" 
                                name="admin"/>
                                <label style="margin-left: 10px;">IsAdmin</label><br>
                
                            </div>
                            </div>
                
                            <div>
                                <label>Password</label><br>
                                <input type="password" pInputText [(ngModel)]="password" name="password" required #passRef="ngModel"/><br>
                            </div>
                            <div>
                                <label>Confirm Password</label><br>
                                <input type="password" pInputText [(ngModel)]="conformpass" name="conformpass" required #confirmRef="ngModel"/><br>
                            </div>
                           <div style="display: flex; justify-content: flex-end; gap: 20px; justify-content: flex-end; align-items: center;">
                                <button class="cancel" type="button" (click)="cancelBtn()">Cancel</button>
                                <button class="save" type="button" (click)="submitData()">Save</button>
                           </div>
                        </div>
                    </form>
            </p-dialog>
            <table class="table-container">
                <th>UserImage</th>
                <th>Username</th>
                <th>Age</th>
                <th>Product Count</th>
                <th>Country</th>
                <th>Actions</th>
                <tr *ngFor="let user of paginatedOrders" (click)="showEye(user.username)">
                    <td><img [src]="user.imageUrl" alt={{user.username}} height="40px" width="40px" style="border-radius: 50%;"/></td>
                    <td>{{user.username}}</td>
                    <td>{{calculate(user.dob)}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.country.name}}</td>
                    <td style="display: flex; gap: 15px; padding: 12px 15px; align-items: center; height: 60px;">
                    
                        <div *ngIf="selectedProfile === user.username"><i class="pi pi-eye" style="font-size: 1rem" (click)="showDialog()"></i></div>
                        <div *ngIf="selectedProfile === user.username"><i class="pi pi-trash" style="font-size: 1rem" (click)="showDelete()"></i></div>
                
                    </td>
                </tr>
        

        <p-dialog header="View Product" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }" [resizable]="false" [draggable]="false" [closeOnEscape]="false">
            <div class="popup">
                <div>
                    <h1>View contact</h1>
                </div>
            </div>
        </p-dialog>
        <p-dialog header="Delete Product" [modal]="true" [(visible)]="DeleteShow" [resizable]="false" [draggable]="false" [closeOnEscape]="false" [style]="{ width: '25rem' }">
            <div>
                <h1>Are You sure!?? </h1>
                <p>Do  you really what to delete the selected item</p>
                <div>
                    <p-button (click)="cancelButton()">Cancel</p-button>
                    <p-button>Delete</p-button>
                </div>
            </div>
        </p-dialog>
    </table>
    <div class="pagination" *ngIf="users.length > pageSize">
          <button (click)="currentPageNo = currentPageNo - 1" [disabled]="currentPageNo === 1">Prev</button>
        
          <span>Page {{currentPageNo}} of {{totalPages}}</span>
        
          <button (click)="currentPageNo = currentPageNo + 1" [disabled]="currentPageNo === totalPages">Next</button>
        </div>
</div>
</div>