.container {
    background-color: #ffffff;
    position: absolute;
    top: 9vh;
    left: 15vw;
    height: 90vh;
    overflow: auto;
    width: 84vw;
    border-radius: 5px;
    margin-left: 5px;
    background-color: var(--bg-color);
    color: var(--text-color)
}

.table-container {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin-bottom: 60px;
}

.table-container th, .table-container td {
    padding: 12px 15px;
}

.table-container th {
    background-color: #f3f3f3;
}
.table-container tr {
    border: 4px solid #FAFAFA;
    height: 70px;
}
.table-container tr:hover {
    background-color: #F0ECFD;
    cursor: pointer;
}

.addicon {
    display: flex;
    justify-content: space-between;
}

.profile-container {
    width: 47.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10px;
}

.row {
    display: flex;
    column-gap: 20px;
}

.address-container {
    position: absolute;
    top: 70.5px;
    width: 47.5%;
    display: flex;
    flex-direction: column;
    margin-left: 47.5%;
}
.profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.border {
    border-radius: 50px !important;
    border: 0.1px solid black;
    object-fit: cover;
}

input, textarea{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    background-color: #f3f3f3;
    border: none;
    cursor: pointer;
}

::ng-deep .p-calendar .p-inputtext {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f3f3f3;
    border: none;
    cursor: pointer;
}



::ng-deep .p-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f3f3;
    width: 100% !important;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
}

.row  div{
    width: 100%;
}
::ng-deep .p-calendar {
    width: 100%;
}

.adminCheckBox{
    display: flex;
    margin-top: 20px;
    align-items: center;
}

::ng-deep .p-button {
    width: 100%;
    margin-bottom: 10px;
    background-color: #141569;
}

span {
    cursor: pointer;
    margin-right: 10px;
}

textarea {
    min-width: 50%;
    max-width: 100%;
    min-height: 70px;
    max-height: 70px;
}

.cancel {
    width: 20%;
    background-color: #ffffff;
    border: 1px solid #141569;
    border-radius: 5px;
    color: #141569;
    height: 30px;
    cursor: pointer;
  
}
.save {
    width: 20%;
    background-color: #141569;
    border: 1px solid #141569;
    border-radius: 5px;
    color: #ffffff;
    height: 30px;
    cursor: pointer;
}

.pagination {
    position: fixed;
    bottom: 20px;
    right: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: white;
    padding: 5px 5px;
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    z-index: 1000;
}

button {
    height: 40px;
    width: 100px;
    background-color: blue;
    border-radius: 6px;
    color: white;
    border: none;
    cursor: pointer;
}

.gender-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.gender-container label {
    display: flex;
    width: 33%;
    border-radius: 6px;
    height: 48px;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.active-male {
    background-color:  #141569;
    color: white;
  }
  
  .active-female {
    background-color: #141569;
    color: white;
  }
  
  .active-other {
    background-color: #141569;
    color: white;
  }

  .notActive {
    background-color: #f3f3f3;
  }

  .error-text {
    color: red;
    font-size: 10px;
    margin-top: -14px;
    margin-bottom: 0px ;
}

input.ng-invalid.ng-touched{
    border: 1px red solid;
}

::ng-deep .p-dialog-mask {
    background-color: #0000000d !important;
}

button.save:disabled {
    background-color: #141569;
    cursor: not-allowed;
    opacity: 0.6;
}

.disable {
    cursor: not-allowed;
    background-color: #ccc;
}
.active {
    cursor: pointer;
    background-color: red;
}