.container {
    background-color: #ffffff;
    position: absolute;
    top: 9vh;
    left: 15vw;
    height: 90vh;
    overflow: auto;
    width: 84vw;
    border-radius: 5px;
    margin-left: 5px;
}

.table-container {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    text-align: left;
}

.table-container th, .table-container td {
    padding: 12px 15px;
}

.table-container th {
    background-color: #f3f3f3;
}

.table-container tr:hover {
    background-color: #F0ECFD;
    cursor: pointer;
}

.addicon {
    display: flex;
    justify-content: space-between;
}

::ng-deep .p-button {
    height: 30px;
}



