.container {
    background-color: #ffffff;
    position: absolute;
    top: 9vh;
    left: 15vw;
    height: 90vh;
    overflow: auto;
    width: 41.5vw;
    border-radius: 5px;
    margin-left: 5px;
    background-color: var(--bg-color);
    color: var(--text-color)
}

::ng-deep canvas {
  height: 550px;
  width: 40vw;
}

.charts {
  margin: 20px;
}

.chart-title {
  margin: 10px;
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
}

.noOrders {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  height: 40vw;
}
  